@{
    ViewData["Title"] = "Anasayfa";
}
<link href="~/css/style.css" rel="stylesheet" />
<script src="~/admin/plugins/toastr/toastr.min.js"></script>
<link rel="stylesheet" href="~/admin/plugins/toastr/toastr.min.css">
<h1 class="text-center">Elektrik - Elektronik Ürünler</h1>


<!-- Dropdown menüsü içinde tablo yapısı -->
<div id="dropdown" style="display:none; overflow-x:auto">
    <table id="productTable" class="table">
        <thead>
            <tr class="text-center">
                <th style="width:7%">Marka</th>
                <th style="width:7%">Ürün Kodu</th>
                <th style="width:11%">Açıklama</th>
                <th style="width:8%">Liste Fiyatı</th>
                <th style="width:11%">Birim</th>
                <th style="width:5.5%">İskonto</th>
                <th style="width:8%">Teslim Süresi</th>
                <th style="width:11%">Toplam</th>
                <th style="width:6%">Ekle - Sor</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dinamik olarak eklenecek satırlar buraya gelecek -->
        </tbody>
    </table>
</div>

<div id="loading-spinner" style="display: none;">
    <div class="spinner"></div>
</div>
<!-- Wishlist alanı -->
<div id="wishlist" style="display:none;">
    <h1 id="wishlistHead" class="text-center mt-4">Teklif Listesi</h1>
    <form asp-action="Print" asp-controller="Home" method="post">
    <table id="wishlistItems" class="table table-striped">
        <thead id="wishlistHead">
            <tr class="text-center">
                <th style="width:7%">Marka</th>
                <th style="width:7%">Ürün Kodu</th>
                <th style="width:11%">Açıklama</th>
                <th style="width:8%">Fiyat</th>
                <th style="width:11%">Birim</th>
                <th style="width:5.5%">İskonto</th>
                <th style="width:8%">Teslim Süresi</th>
                <th style="width:11%">Toplam Fiyat</th>
                <th style="width:7%">Ürün Linki - Sil</th>
            </tr>
        </thead>
      
        <tbody></tbody> 
        
    </table>
        <div class="card-footer">
            <button type="submit" class="btn btn-info">Yazdır</button>
        </div>
    </form>
    <div class="card col-2 offset-10" id="total">     
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" style="width:50%">Para Birimi</th>
                        <th class="text-center">Tutar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lira</td>
                        <td id="totalLira"></td>                       
                    </tr>
                    <tr>
                        <td>Dolar</td>
                        <td id="totalDolar"></td>
                    </tr>
                    <tr>
                        <td>Euro</td>
                        <td id="totalEuro"></td>
                    </tr>
                </tbody>
            </table>
        </div>
       
       
        <!-- /.card-body -->
    </div>
    
</div>

